<h1>Welcome, Admin!</h1>

<%= tag.div class: "row" do %>
  <%= tag.div class: "admins-list col" do %>
    <%= tag.h2 "Admins" %>
    <% @admins.each do |admin| %>
      <%= tag.p admin.name %>
    <% end %>
  <% end %>

  <%= tag.div class: "users-list col" do %>
    <%= tag.h2 "Users" %>
    <% @users.each do |user| %>
      <%= tag.p user.name %>
    <% end %>
  <% end %>
<% end %>