<br>

<div class="d-flex justify-content-around red-links">
  <div class="users-list col-8">
    <%= tag.h2 "Users" %>
    <table width="80%">
      <% @users.each do |user| %>
        <%= tag.tr class: "row" do %>
          <div class="row">
            <%= tag.td width: "30%" do %>
              <%= link_to user.name, user_path(user) %>
            <% end %>
            <%= tag.td width: "50%" do %>
              <%= link_to user.email, user_path(user) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </table>
  </div>

  <%= tag.div class: "admins-list col" do %>
    <%= tag.h2 "Admins" %>
    <% @admins.each do |admin| %>
      <%= tag.p admin.name %>
    <% end %>
  <% end %>
</div>

<div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan odio non ultrices luctus. Sed non augue turpis. Sed eu libero non arcu pharetra eleifend sit amet et risus. Vivamus rhoncus, urna eget placerat faucibus, dui libero maximus augue, at finibus nulla mi eget est. Mauris eu interdum dolor, at vehicula ligula. Vivamus efficitur eget sapien a mattis. Etiam tristique ornare dignissim. Nulla vulputate purus nec erat mattis sollicitudin a vel neque. Praesent imperdiet nisl sit amet interdum consequat. Maecenas et purus tristique, tincidunt libero ac, hendrerit metus. Nunc viverra risus nec dui tincidunt efficitur. Duis sed commodo purus, ac suscipit tellus. Suspendisse purus ante, lobortis eget dictum ut, dictum sit amet augue. Sed ullamcorper vestibulum lacinia.

Integer leo eros, posuere ut tempus et, dignissim eu ipsum. Fusce tristique molestie neque quis varius. Vivamus at efficitur risus, at imperdiet purus. Aliquam aliquet magna hendrerit maximus imperdiet. Quisque facilisis elit nisl, nec dignissim libero congue id. Ut eget ultricies metus. Mauris vel tincidunt ligula. Duis nec lectus suscipit tortor blandit sodales. Sed pulvinar volutpat purus, id maximus est dapibus sit amet. Suspendisse mattis sodales efficitur. Fusce euismod mauris eu pretium rutrum. Proin sagittis semper gravida. Nulla vel nisl vehicula, volutpat nunc eget, blandit justo. Sed lobortis volutpat nunc, at sagittis tortor lobortis sed. Integer ac ligula efficitur, finibus tortor non, consectetur odio.

Ut a porttitor sem, nec pulvinar sapien. Duis in est dui. Nullam vitae magna euismod, tristique orci id, sagittis diam. Phasellus tempus imperdiet sem, sit amet aliquam urna faucibus eget. Integer vel enim elit. Aliquam hendrerit purus ac urna mattis, vel aliquam urna dignissim. Nullam a tortor in purus consequat lacinia vitae vitae massa. Curabitur commodo, metus vitae vestibulum cursus, eros nisi vestibulum turpis, vel egestas odio quam a eros.

Vestibulum tincidunt, leo quis auctor pharetra, sapien orci efficitur lectus, ornare tincidunt diam elit vitae orci. Mauris id egestas odio. Etiam tortor eros, sagittis vitae ultricies ac, feugiat et mauris. Sed facilisis nisi eu leo fringilla rhoncus. Vivamus fermentum fringilla blandit. Mauris varius ac enim vel cursus. Proin fermentum quam dignissim justo imperdiet aliquet.

Donec rhoncus rhoncus mattis. Etiam sit amet elit dolor. Praesent egestas justo est, id euismod massa mollis eu. Fusce eu sollicitudin ipsum, eget lacinia mauris. Praesent et urna fringilla lectus pretium dictum. Curabitur tristique ex in varius tempor. Proin a tortor urna. Quisque risus tortor, aliquam id volutpat efficitur, tincidunt ac tortor. Nam sollicitudin ex commodo, molestie felis id, pharetra mauris. Curabitur euismod dapibus lectus, nec dignissim arcu ornare et.
</div>