<div class="d-flex justify-content-around red-links">
  <div class="users-list col-8">
    <%= tag.h1 "Users" %>
    <table width="80%">
      <% @users.each do |user| %>
        <%= tag.tr class: "row" do %>
          <div class="row">
            <%= tag.td width: "30%" do %>
              <%= link_to user.name, user_path(user) %>
            <% end %>
            <%= tag.td width: "50%" do %>
              <%= link_to user.email, user_path(user) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </table>
  </div>

  <%= tag.div class: "admins-list col" do %>
    <%= tag.h1 "Admins" %>
    <% @admins.each do |admin| %>
      <%= tag.p admin.name %>
    <% end %>
  <% end %>
</div>