<h1>Welcome, Admin!</h1>

<div class="d-flex justify-content-around red-links">
  <div class="users-list col-8">
    <%= tag.h2 "Users" %>
    <table>
      <%= tag.tr(tag.th("Name")) %>

      <% @users.each do |user| %>
        <%= tag.tr class: "row" do %>
          <%= tag.th do %>
            <%= link_to user.name, user_path(user) %></th>
          <% end %>
          <%= tag.th class: "half-size" do %>
            <%= link_to "Edit", edit_user_path(user) %>
          <% end %>
          <%= tag.th class: "half-size" do %>
            <%= link_to "Delete", users_path, method: :delete %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>

  <%= tag.div class: "admins-list col" do %>
    <%= tag.h2 "Admins" %>
    <% @admins.each do |admin| %>
      <%= tag.p admin.name %>
    <% end %>
  <% end %>
</div>