<h3>Creating New Account...</h3>

<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %><br>

  <%= f.input :first_name, required: false %>
  <%= f.input :last_name, required: false %><br>

  <%= f.input :first_street_address %>
  <%= f.input :second_street_address %>
  <%= f.input :city %>
  <%= f.input :state, as: :select, collection: User::STATES, default: "Michigan" %>
  <%= f.input :zipcode %>

  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= f.input :role, label: "Admin?", as: :boolean %>
    <% end %>
  <% end %><br>

  <%= f.submit "Create Account" %>
<% end %>