<h1>Create User</h1>

<%= form_with model: @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br></br>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br></br>

  <%= f.label :first_street_address %>
  <%= f.text_field :first_street_address %><br>
  <%= f.label :second_street_address %>
  <%= f.text_field :second_street_address %><br>
  <%= f.label :city %>
  <%= f.text_field :city %><br>
  <%= f.label :state %>
  <%= f.text_field :state %><br>
  <%= f.label :zipcode %>
  <%= f.number_field :zipcode, maxlength: 5 %><br></br>

  <%= f.label "Admin?" %>
  <%= f.check_box :role %><br></br>

  <%= f.submit %>
<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %><br>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %><br>
  <%= f.input :first_street_address, required: true %>
  <%= f.input :second_street_address, required: false %>
  <%= f.input :city, required: true %>
  <%= f.input :state, required: true %>
  <%= f.input :zipcode, required: true %>
  <%= f.input :role, required: true %>
<% end %>